name: build
on:
  pull_request:
  push:
    branches: [main]
    paths-ignore:
      - '**.md'
      - '.gitignore'
  repository_dispatch:
    types: [build]
  workflow_dispatch:
jobs:
  matrix:
    runs-on: ubuntu-latest
    outputs:
      kernels: ${{ steps.set-matrix.outputs.kernels }}
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: 'nixpkgs=https://github.com/NixOS/nixpkgs/archive/refs/heads/nixos-unstable.tar.gz'
          extra_nix_config: |
            accept-flake-config = true
            experimental-features = nix-command flakes
      - id: set-matrix
        run: |
          kernels=$(nix flake show --json | jq -c '[keys[] | select(test("linuxPackages_.*")) | sub("linuxPackages_";"")]')
          echo "kernels=$kernels" >> $GITHUB_OUTPUT
  build-regular:
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: thiagokokada/free-disk-space@main
        continue-on-error: true
        with:
          python: false
          tool-cache: true
          usrlocal: true
          usrmisc: true
          opt: true
          varcache: true
      - name: Checkout new change
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: 'nixpkgs=https://github.com/NixOS/nixpkgs/archive/refs/heads/nixos-unstable.tar.gz'
          extra_nix_config: |
            accept-flake-config = true
            experimental-features = nix-command flakes
            builders-use-substitutes = true
      - uses: cachix/cachix-action@v16
        with:
          name: mlnx-ofed-nixos
          extraPullNames: nix-community
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
      - name: Build regular packages
        run: |
          set -euo pipefail
          arch="$(uname -m)-linux"
          nix flake show --json | jq  ".packages.\"$arch\"|keys[]" | xargs -I {} nix build .#{}
  build-kernel:
    needs: [matrix, build-regular]
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-24.04-arm]
        kernel: ${{ fromJson(needs.matrix.outputs.kernels) }}
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - uses: thiagokokada/free-disk-space@main
        continue-on-error: true
        with:
          python: false
          tool-cache: true
          usrlocal: true
          usrmisc: true
          opt: true
          varcache: true
      - name: Checkout new change
        uses: actions/checkout@v4
        with:
          fetch-depth: 1
      - uses: cachix/install-nix-action@v31
        with:
          nix_path: 'nixpkgs=https://github.com/NixOS/nixpkgs/archive/refs/heads/nixos-unstable.tar.gz'
          extra_nix_config: |
            accept-flake-config = true
            experimental-features = nix-command flakes
            builders-use-substitutes = true
      - uses: cachix/cachix-action@v16
        with:
          name: mlnx-ofed-nixos
          extraPullNames: nix-community
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
          signingKey: '${{ secrets.CACHIX_SIGNING_KEY }}'
      - name: Build linux packages (${{ matrix.kernel }})
        run: |
          set -euo pipefail
          arch="$(uname -m)-linux"
          pkgs=$(nix eval .#linuxPackages_${{ matrix.kernel }}.$arch --raw --apply "x: builtins.toJSON (builtins.attrNames x)")
          echo $pkgs | jq -r '.[]' | xargs -I {} nix build .#linuxPackages_${{ matrix.kernel }}.$arch.{}
